:root {
  /* =========================
     Color
     ========================= */

  --color-main: #2563eb;
  --color-main-sub: #bfdbfe;
  --color-text-main: #0f172a;
  --color-text-content: #334155;
  --color-text-sub: #64748b;

  --color-background: #ffffff;
  --color-background-sub: #eef7ff;
  --color-background-overlay: rgb(255 255 255 / 90%);
  --color-border: #dae2ec;

  /* =========================
     Font Family
     ========================= */

  --font-family-title: 'Presentation', sans-serif;
  --font-family-content: 'Pretendard', sans-serif;
  --font-family-formula: 'Times New Roman', serif;

  /* =========================
     Font Size
     ========================= */

  --font-size-s: 0.875rem; /* 14px */
  --font-size-m: 1rem; /* 16px */
  --font-size-l: 1.5rem; /* 24px */
  --font-size-xl: 3rem; /* 48px */

  /* =========================
     Font Weight
     ========================= */

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;

  /* =========================
     Spacing
     ========================= */

  --space-s: 0.5rem; /* 8px */
  --space-m: 1rem; /* 16px */
  --space-l: 2rem; /* 32px */

  /* =========================
     Border Radius
     ========================= */

  --radius-s: 0.375rem; /* 6px */
  --radius-m: 0.5rem; /* 8px */
  --radius-l: 1rem; /* 16px */

  /* Border */
  --border-default: 1px solid var(--color-border);
  --border-emphasize: 2px solid var(--color-main);

  /* Layout */
  --container-width: 1120px;
  --article-content-width: 760px;
  --link-column-width: 72px;

  --layout-bar-height: 72px;
}
