.text-identity {
  color: var(--color-text-main);
  font-family: var(--font-family-title);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
}

.text-description {
  color: var(--color-text-sub);
  font-family: var(--font-family-content);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
}

.text-link {
  color: var(--color-text-sub);
  font-family: var(--font-family-content);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-semibold);
}
