@font-face {
  font-family: 'YuhanKimberlyPureunsoop';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/2607101517@font-2/font-2/font-2-700.woff2')
    format('woff2');
  font-weight: 700;
  font-display: swap;
}
